@CHARSET "UTF-8";

.cwbody {
	display: box;
	display: -webkit-box;
	display: -ms-flexbox;
	height: 100%;
	margin: auto;
	width: 1000px;
}

.tree {
	width: 200px;
	overflow: auto;
	height: 100%;
}

.filebar {
	height: 80px;
	border: 1px solid #cfd3d5;
	display: box;
	display: -webkit-box;
	display: -ms-flexbox;
	text-align: left;
	background: white;
}

.fileprocess {
	width: 200px;
	height: 100%;
	padding-left: 10px;
}

.btndiv {
	flex: 1;
	-ms-flex: 1;
	-webkit-box-flex: 1;
	height: 100%;
}

.searchdiv {
	width: 320px;
	height: 100%;
}

.left {
	float: left;
	width: 250px;
}

.right {
	width: 679px;
	float: left;
}

.processall {
	width: 100%;
	background: #d7dbdf;
	height: 15px;
	border-radius: 10px;
	margin-top: 20px;
	overflow: hidden;
}

.processuse {
	height: 100%;
	background: #92ef55;
	border-radius: 10px;
}

.fbottom {
	margin-top: 10px;
}

.btndiv .btna {
	margin-left: 20px;
}

.btndiv div {
	margin-top: 20px;
	margin-left: 20px;
}

.searchborder {
	background: #f3f3f3;
	width: 300px;
	border-radius: 20px;
	height: 40px;
	margin-top: 20px;
	overflow: hidden;
	position: relative;
}

.searchborder i {
	background: url('../image/search.png') center;
	width: 24px;
	height: 24px;
	position: absolute;
	left: 10px;
	top: 8px;
}

.searchborder input {
	border: medium none;
	box-shadow: inset 0 0 0 1000px #f3f3f3;
	height: 40px;
	margin-left: 45px;
	outline: none;
	width: 185px;
}

.searchborder a {
	padding: 10px 20px;
	background: #39adff;
	color: white;
	float: right;
	cursor: pointer;
}

.files {
	
}

.lefttree {
	position: absolute;
	width: 200px;
	left: 0;
	bottom: 50px;
	top: 95px;
	background: white;
	border: 1px solid #cfd3d5;
	text-align: left;
}

.righttable {
	position: absolute;
	left: 201px;
	border: 1px solid #cfd3d5;
	top: 95px;
	bottom: 50px;
	right: 0;
	background: white;
	overflow: auto;
}

.cwpagation {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0;
}

.namea {
	color: #555555;
}