@CHARSET "UTF-8";

.subtitle {
	line-height: 80px;
	background: #dfdfdd;
	text-align: center;
}

.subtitle div {
	width: 1000px;
	margin: auto;
	text-align: left;
	font-size: 20px;
}

.content {
	width: 1000px;
	text-align: center;
	margin: auto;
	margin-top: 50px;
	font-weight: 600;
}

.products {
	width: 100%;
	text-align: center;
	background: #dfdfdd;
	margin-top: 40px;
}

.products div {
	width: 1000px;
	margin: auto;
	padding: 25px 0;
	overflow: hidden;
}

.products img {
	width: 300px;
	float: left;
	margin-left: 50px;
}

.products img:FIRST-CHILD {
	margin-left: 0px !important;
}

.titlename {
	font-size: 18px;
}